{% extends "base.html" %}
{% block content %}
  <div class="p-strip is-shallow">
    <div class="row">
      <h1 class="p-heading--3">Jenkins Jobs</h1>
      <a href="https://jenkins.canonical.com/webteam/securityRealm/commenceLogin?from=%2Fwebteam%2Fview%2Fdemos%2Fjob%2Fstart-demo%2Fbuild">Start demo</a>
      <a href="https://jenkins.canonical.com/webteam/securityRealm/commenceLogin?from=%2Fwebteam%2Fview%2Fdemos%2Fjob%2Fstop-demo%2Fbuild">Stop demo</a>
    </div>
  </div>
  <div id="demolist"></div>
{% endblock content %}
